<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>UEG - Desenvolvimento Web 2025: Aluno</title>

    <style>
        .card-image img {
            width: 100px;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: 0;
        }
    </style>

</head>

<body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <h1>
        Cadastro de Aluno
    </h1>

    <div class="container">
        <div class="section">
            <form action="/alunos/create" method="post">
                <div class="row">
                    <div class="input-field col m6 s12">
                        <label>Nome: </label>
                        <input type="text" name="nome">
                    </div>
                    <div class="input-field col m6 s12">
                        <label>Email: </label>
                        <input type="text" name="email">
                    </div>
                </div>
                <button class="waves-effect waves-light btn">Salvar</button>
            </form>
        </div>
    </div>
</body>

</html>