<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <title>UEG - Desenvolvimento Web 2025: Aluno</title>

    <style>
        .card-image img {
            width: 100px;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: 0;
        }

    </style>

</head>

<body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <h1>
        Cadastro de Aluno
    </h1>

    <div class="card">
        <div class="card-image">
            <img src="/imagens/Cadastro.png" alt="Imagem do curso">
            <span class="card-title">Desenvolvimento Web</span>
        </div>
    </div>


    <form action="/alunos/create" method="post">
<h4
        <label>Nome: </label>
        <input type="text" name="nome">
    </h4>

    <h4
        <label>Email: </label>
        <input type="text" name="email">
</h4>  

    <button class="waves-effect waves-light btn teal">Salvar</button>
    </form>
</body>

</html>