<!DOCTYPE html>
<html>

<head>
    <title>UEG - Desenvolvimento Web 2025</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="header center orange-text">Início</h1>
        </div>
    </div>

    <div class="card">
        <div class="card-image" style="display: flex; justify-content: center; align-items: center;">
            <img src="/imagens/logo-UEG.png" alt="Imagem do curso" style="width: 300px; height: auto;"/>
        </div>
    </div>

    <div class="container">
        <div class="section">
            <p style="font-size: 24px;"><strong>Sejam muito bem-vindos ao curso de Desenvolvimento Web!</strong></p>
            <ul>
                <div class="card">
                    <div class="card-image" style="display: flex; justify-content: center; align-items: center;">
                        <img src="/imagens/DataBase.jpg" alt="Imagem do curso" style="width: 300px; height: auto;"/>
                    </div>
                </div>
                <li><a href="/" style="font-size: 40px;">Início</a></li>
                <li><a href="/alunos" style="font-size:40px;">Alunos</a></li>
            </ul>
        </div>
    </div>
    
</body>

</html>